html {
    width: 100%;
    height: 100%;

}


#alphabet {
	position: relative;
	width: 70%;
	margin-top: 10%;
}

#numbers {
    position: relative;
    width: 70%;
    margin-top: 10%;

}

#punctuation {
    position: relative;
    margin-top: 15%;
    width: 70%;
   

}

.letter {
    display: inline-block;
    margin: 20px;
    position: relative;
    height: 100px;
    width: 100px;
}



#a {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #377eaa transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(120px) rotate(140deg); 
    transition: all 400ms ease;
}

#content:hover #a {
transform: translateX(0px) rotate(0deg);
}

#b1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(80px) rotate(230deg); 
    transition: all 400ms ease;
}

#content:hover #b1 {
transform: translateX(0px) rotate(0deg);
}


#b2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateX(300px) translateY(45px) rotate(115deg); 
    transition: all 400ms ease;
}

#content:hover #b2 {
transform: translateX(0px) rotate(0deg);
}



#c {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 50px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    top: 0px;
    left: px;
    transform: translateY(-130px) rotate(80deg); 
    transition: all 400ms ease;
}

#content:hover #c {
transform: translateX(0px) rotate(0deg);
}

#d {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 0px;
    left: px;
    transform: translateX(-500px) rotate(540deg) translateY(100px); 
    transition: all 400ms ease;
}

#content:hover #d {
transform: translateX(0px) rotate(0deg);
}


#e1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 0px;
    left: px;
    transform: translateX(200px) rotate(270deg); 
    transition: all 400ms ease;
}

#content:hover #e1 {
transform: translateX(0px) rotate(0deg);
}

#e2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    top: 0px;
    left: 10px;
    transform: translateX(80px)  translateY(120px) rotate(120deg); 
    transition: all 400ms ease;
}

#content:hover #e2 {
transform: translateX(0px) rotate(0deg);
}

#e3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 50px;
    left: 60px;
    transform: translateX(-100px)  translateY(-120px) rotate(60deg); 
    transition: all 400ms ease;
}

#content:hover #e3 {
transform: translateX(0px) rotate(0deg);
}


#f {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 0px;
    left: px;
    transform:rotate(90deg);
    transform: translateX(00px)  translateY(-120px) rotate(60deg); 
    transition: all 400ms ease;
}

#content:hover #f {
transform: translateX(0px) rotate(90deg);
}


#f2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    top: 25px;
    left: 30px;
    transform:rotate(90deg);
    transform: translateX(200px)  translateY(300px) rotate(80deg); 
    transition: all 400ms ease;
}

#content:hover #f2 {
transform: translateX(0px) rotate(90deg);
}



#g {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 0px;
    left: px;
    transform:rotate(90deg);
    transform: translateX(-263px)  translateY(20px) rotate(130deg); 
    transition: all 400ms ease;
}

#content:hover #g {
transform: translateX(0px) rotate(90deg);
}

#g2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(90deg);
    transform: translateX(-530px)  translateY(-150px) rotate(200deg); 
    transition: all 400ms ease;
}

#content:hover #g2 {
transform: translateX(0px) rotate(90deg);
}



#h {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translateX(222px)  translateY(100px) rotate(200deg); 
    transition: all 400ms ease;
}

#content:hover #h {
transform: translateX(0px) rotate(0deg);
}


#h2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    left: 50px;
    transform: rotate(180deg);
    transform: translateX(-130px)  translateY(-130px) ;
    transition: all 400ms ease;
}


#content:hover #h2 {
transform: translateX(0px) rotate(180deg);
}



#i {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 50px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(220px)  translateY(-80px) rotate(290deg) ;
    transition: all 400ms ease;
}

#content:hover #i {
transform: translateX(0px) rotate(0deg);
}



#i2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 50px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 0px;
    left: 10px;
    transform: rotate(180deg);
    transform: translateX(-300px)  translateY(200px) ;
    transition: all 400ms ease;
}

#content:hover #i2 {
transform: translateX(0px) rotate(180deg);
}



#j {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translateX(-200px)  translateY(0px) ;
    transition: all 400ms ease;
}

#content:hover #j {
transform: translateX(0px) rotate(270deg);
}



#j2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 40px;
    transform: translateX(-100px)  translateY(-40px) ;
    transition: all 400ms ease;
}

#content:hover #j2 {
transform: translateX(0px) rotate(270deg);
}



#k {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translateX(-100px)  translateY(160px) ;
    transition: all 400ms ease;
}

#content:hover #k {
transform: translateX(0px) rotate(90deg);
}



#k2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 28px;
    left: 30px;
    transform: translateX(-340px)  translateY(200px) ;
    transition: all 400ms ease;
}

#content:hover #k2 {
transform: translateX(0px) rotate(270deg);
}



#l {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    transform: translateX(40px)  translateY(400px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #l {
transform: translateX(0px) rotate(0deg);
}

#m {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translateX(520px)  translateY(300px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #m {
transform: translateX(0px) rotate(0deg);
} 



#m2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 50px 50px 50px;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    transform: translateX(100px)  translateY(-90px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #m2 {
transform: translateX(0px) rotate(0deg);
} 



#n {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    transform: translateX(-220px)  translateY(120px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #n {
transform: translateX(0px) rotate(0deg);
} 



#n2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 62px 62px 39px;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    top: 14px;
    transform: translateX(-620px)  translateY(30px) rotate(160deg);
    transition: all 400ms ease;  
}

#content:hover #n2 {
transform: translateX(0px) rotate(0deg);
} 


#o {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translateX(420px)  translateY(80px) rotate(160deg);
    transition: all 400ms ease;   
}

#content:hover #o {
transform: translateX(0px) rotate(0deg);
} 


#o2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 85px 11px 1px 85px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    left: 3px;
    transform: translateX(-130px)  translateY(-180px) rotate(160deg);
    transition: all 400ms ease;
}

#content:hover #o2 {
transform: translateX(0px) rotate(180deg);
} 


#p {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translateX(220px)  translateY(190px) rotate(160deg);
    transition: all 400ms ease;
}

#content:hover #p {
transform: translateX(0px) rotate(90deg);
} 


#q {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0px 0 76px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 11px;
    transform: translateX(420px)  translateY(80px) rotate(160deg);
    transition: all 400ms ease;
   
}

#content:hover #q {
transform: translateX(0px) rotate(0deg);
} 


#q2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 131px 0px 0px 100px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    transform: translateX(-230px)  translateY(150px) rotate(160deg);
    transition: all 400ms ease;
}

#content:hover #q2 {
transform: translateX(0px) rotate(180deg);
} 



#r {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translateX(-230px)  translateY(150px) rotate(160deg);
    transition: all 400ms ease;
}
  
#content:hover #r {
transform: translateX(0px) rotate(90deg);
} 


#r2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 29px 53px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 71px;
    left: 45px;
    transform: translateX(00px)  translateY(-220px) rotate(60deg); 
    transition: all 400ms ease;
}

#content:hover #r2 {
transform: translateX(0px) rotate(47deg);
} 


#s {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 50px;
    border-color: transparent transparent transparent #c64036;
    transform: rotate(90deg);
    position: absolute;
    left: 26px;
    top: -26px;
    transform:rotate(90deg);
    transform: translateX(00px)  translateY(-220px) rotate(60deg); 
    transition: all 400ms ease;
}

#content:hover #s {
transform: translateX(0px) rotate(90deg);
} 



#s2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translateX(220px)  translateY(140px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #s2 {
transform: translateX(0px) rotate(90deg);
} 



#t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 1px 100px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translateX(520px)  translateY(300px) rotate(270deg);
    transition: all 400ms ease;
}

#content:hover #t {
transform: translateX(0px) rotate(181deg);
} 


#t2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 0 1px 68px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 45px;
    left: 25px;
    transform: rotate(181deg);
    transform: translateX(320px)  translateY(-300px) rotate(270deg);
    transition: all 400ms ease;
}


#content:hover #t2 {
transform: translateX(0px) rotate(90deg);
} 



#u {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #377eaa transparent;
    position: absolute;
   transform: translateX(320px)  translateY(-300px) rotate(270deg);
    transition: all 400ms ease;
} 

#content:hover #u {
transform: translateX(0px) rotate(180deg);
} 


#u2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 1px 85px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 35px;
    left: 39px;
    transform: rotate(-82deg);
   transform: translateX(-120px)  translateY(-230px) rotate(270deg);
    transition: all 400ms ease;
} 


#content:hover #u2 {
transform: translateX(0px) rotate(-82deg);
} 

#u3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 0 1px 79px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 39px;
    left: -36px;
    transform: translateX(144px)  translateY(230px);
    transition: all 400ms ease;
}

#content:hover #u3 {
transform: translateX(0px) rotate(-115deg);
} 


#v {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #efb420 transparent;
    position: absolute;
    transform: rotate(360deg);
    transform:  translateY(300px) translateX(30px);
    transition: all 400ms ease;
}

#content:hover #v {
transform: translateX(0px) rotate(180deg);
} 

#x {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 24px;
    left: 24px;
    transform: translate(-240px)  translateY(-55px) rotate(190deg);
    transition: all 400ms ease;
}

#content:hover #x {
transform: translateX(0px) rotate(270deg);
} 


#x2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 50px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    transform: rotate(90deg);
    left: 24px;
    top: -25px;    
    transform: translate(340px)  translateY(205px) rotate(190deg);
    transition: all 400ms ease;
}

#content:hover #x2{
transform: translateX(0px) rotate(90deg);
} 
    

#y {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 0 38px 73px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    left: 10px;
    transform: translate(-150px)  translateY(-205px) rotate(190deg);
    transition: all 400ms ease;
}

#content:hover #y{
transform: translateX(0px) rotate(90deg);
} 

#y2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 84px 3px 0px 42px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 16px;
    left: 38px;
    transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

#w {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 100px 50px;
    border-color: transparent transparent #c64036 transparent;
    position: absolute;
    transform: translateX(220px)  translateY(220px) rotate(160deg);
    transition: all 400ms ease;
}

#content:hover #w {
transform: translateX(0px) rotate(0deg);
} 


#w2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 1px 94px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    top: 34px;
    left: -28px;
    transform: translateX(100px)  translateY(95px) rotate(90deg);
    transition: all 400ms ease;
}

#content:hover #w2 {
transform: translateX(0px) rotate(99deg);
} 


#w3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0 1px 83px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 31;
    left: 54px;
    transform: translate(-200px)  translateY(-105px) rotate(230deg);
    transition: all 400ms ease;
}


#content:hover #w3 {
transform: translateX(0px) rotate(64deg);
} 


#z {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 50px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    transform: translate(310px)  translateY(-105px) rotate(230deg);
    transition: all 400ms ease;
}

#content:hover #z {
transform: translateX(0px) rotate(0deg);
} 


#z2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 50;
    transform: translate(-140px)  translateY(215px) rotate(230deg);
    transition: all 400ms ease;
}

#content:hover #z2 {
transform: translateX(0px) rotate(0deg);
} 


#zero {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 105px 0 0 71px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    left: 11px;
    transform: translate(210px)  translateY(205px) rotate(50deg);
    transition: all 400ms ease;
}

#content:hover #zero {
transform: translateX(0px) rotate(0deg);
} 

#zero2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 102px 11px 1px 68px;
    border-top-width: 102px;
    border-right-width: 11px;
    border-bottom-width: 1px;
    border-left-width: 68px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    transform: rotate(180deg);
    left: 10px;
    transform: translate(-152px)  translateY(-155px);
    transition: all 400ms ease;
}

#content:hover #zero2 {
transform: translateX(0px) rotate(180deg);
} 

  
#one {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 117px 0 0 30px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    left: 40px;
    transform: translate(-352px)  translateY(155px);
    transition: all 400ms ease;
    }

#content:hover #one {
transform: translateX(0px) rotate(0deg);
} 


#one2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 117px 0 0 30px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    left: 45px;
    transform: translate(212px)  translateY(55px);
    transition: all 400ms ease;
}

#content:hover #one2 {
transform: translateX(0px) rotate(180deg);
} 


#one3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    left: 11px;
    transform: translate(-252px)  translateY(145px);
    transition: all 400ms ease;
}

#content:hover #one3 {
transform: translateX(0px) rotate(0deg);
} 


#two {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 117px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 8px;
    left: -22px;
    transform: translate(152px)  translateY(-145px);
    transition: all 400ms ease;
}

#content:hover #two {
transform: translateX(0px) rotate(270deg);
} 


#two2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 49px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    left: -5px;
    top: -27px;
    transform: translatex(-210px)  translateY(-225px);
    transition: all 400ms ease;
}

#content:hover #two2 {
transform: translateX(0px) rotate(220deg);
} 

#three {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 117px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translatex(-310px)  translateY(30px);
    transition: all 400ms ease;
}

#content:hover #three {
transform: translateX(0px) rotate(270deg);
} 

#three2 {

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    left: 40px;
    transform: rotate(266deg);
    transform: translatex(-350px)  translateY(-100px);
    transition: all 400ms ease;
}

#content:hover #three2 {
transform: translateX(0px) rotate(266deg);
} 


#three3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 60px;
    left: 10px;
    transform: translatex(-350px)  translateY(-200px);
    transition: all 400ms ease;
}

#content:hover #three3 {
transform: translateX(0px) rotate(266deg);
} 



#four{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 115px 0px 0px 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translatex(250px)  translateY(166px);
    transition: all 400ms ease;
}

#content:hover #four {
transform: translateX(0px) rotate(180deg);
} 


#four2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 20px;
    left: 3px;
    transform: translatex(-243px)  translateY(-68px);
    transition: all 400ms ease;
}

#content:hover #four2 {
transform: translateX(0px) rotate(180deg);
} 


#five {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 77px 38px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    transform: translatex(-333px)  translateY(212px);
    transition: all 400ms ease;
}

#content:hover #five {
transform: translateX(0px) rotate(0deg);
} 


#five2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 10px;
    transform: translatex(133px)  translateY(-112px);
    transition: all 400ms ease;
}

#content:hover #five2 {
transform: translateX(0px) rotate(0deg);
} 

#five3 {
    height: 0;
    border-style: solid;
    border-width: 0 100px 50px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    top: 42px;
    transform: rotate(151deg);
    transform: translatex(-300px)  translateY(200px);
    transition: all 400ms ease;
}

#content:hover #five3 {
transform: translateX(0px) rotate(151deg);
} 


#six {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    transform: translatex(-300px)  translateY(-281px);
    transition: all 400ms ease;
}

#content:hover #six {
transform: translateX(0px) rotate(0deg);
} 


#six2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 30px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    transform: translatex(170px)  translateY(381px);
    transition: all 400ms ease;
}

#content:hover #six2 {
transform: translateX(0px) rotate(0deg);
} 

#six3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    top: 61px;
    left: 69px;
    transform: translatex(-270px)  translateY(151px);
    transition: all 400ms ease;
}

#content:hover #six3 {
transform: translateX(0px) rotate(0deg);
} 

#seven {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 59px 0 0 117px;
    border-color: transparent transparent transparent #c64036;
    position: absolute;
    top: 29px;
    transform: rotate(270deg);
    transform: translatex(300px)  translateY(200px);
    transition: all 400ms ease;
}

#content:hover #seven {
transform: translateX(0px) rotate(270deg);
} 

#seven2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 53px 0 1px 42px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    left: 25px;
    top: -22px;
    transform: rotate(-59deg);
    transform: translatex(-120px)  translateY(-215px);
    transition: all 400ms ease;
}

#content:hover #seven2 {
transform: translateX(0px) rotate(-59deg);
} 


#eight {
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 74px;
    border-color: transparent transparent transparent #efb420;
    position: absolute;
    top: 22px;
    left: 14px;
    transform: translatex(290px)  translateY(-240px);
    transition: all 400ms ease;
}

#content:hover #eight {
transform: translateX(0px) rotate(270deg);
} 


#eight2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 35px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    left: 33px;
    top: -17px;
    transform: translatex(-290px)  translateY(-240px);
    transition: all 400ms ease;
}

#content:hover #eight2 {
transform: translateX(0px) rotate(90deg);
} 


#nine {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 115px 0px 0px 87px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: translatex(190px)  translateY(-310px);
    transition: all 400ms ease;
}

#content:hover #nine {
transform: translateX(0px) rotate(180deg);
} 



#period {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    left: 2px;
    transform: translatex(-220px)  translateY(-410px);
    transition: all 400ms ease;
}

#content:hover #period {
transform: translateX(0px) rotate(0deg);
} 

#period2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    top: 2px;
    transform: rotate(180deg);
    transform: translatex(260px)  translateY(-335px);
    transition: all 400ms ease;
}

#content:hover #period2 {
transform: translateX(0px) rotate(180deg);
} 


#comma {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    transform: translatex(-230px)  translateY(-460px);
    transition: all 400ms ease;
}

#content:hover #comma {
transform: translateX(0px) rotate(0deg);
} 

#question {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 58px;
    left: 31px;
    transform: translatex(145px)  translateY(-500px);
    transition: all 400ms ease;
}

#content:hover #question {
transform: translateX(0px) rotate(0deg);
} 

#question2 {
     width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 46px 50px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    transform: translatex(-235px)  translateY(-360px);
    transition: all 400ms ease;
}

#content:hover #question2 {
transform: translateX(0px) rotate(0deg);
} 


#exclemation {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 35px 50px;
    border-color: transparent transparent transparent #377eaa;
    position: absolute;
    transform: rotate(90deg);
    transform: translatex(432px)  translateY(-220px);
    transition: all 400ms ease;
}


#content:hover #exclemation {
transform: translateX(0px) rotate(90deg);
} 


#exclemation2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    top: 61px;
    left: 20px;
    transform: translatex(-232px)  translateY(120px);
    transition: all 400ms ease;
}

#content:hover #exclemation2 {
transform: translateX(0px) rotate(0deg);
} 

#quote {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    left: 85;
    transform: translatex(-130px)  translateY(-222px);
    transition: all 400ms ease;
}

#content:hover #quote {
transform: translateX(0px) rotate(0deg);
} 


#quote2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #377eaa transparent transparent;
    position: absolute;
    left: 100;
    transform: translatex(-330px)  translateY(-442px);
    transition: all 400ms ease;
}

#content:hover #quote2 {
transform: translateX(0px) rotate(0deg);
} 


#quote3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #c64036 transparent transparent;
    position: absolute;
    left: 85;
    transform: translatex(220px) translatey(140px)
    rotate(90deg);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;

}

#quote4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #efb420 transparent transparent;
    position: absolute;
    left: 100px;
    transform: rotate(90deg);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}




#content {
    width: 100%;
    height: 100%;
}

