h1 {
font-family: quicksand;
font-size: 10pt;
word-spacing: 20px;
color: #db9e35;
position: relative;
top: 100px;
}

h2 {
font-family: quicksand;
font-size: 10pt;
color: #128085;
position: relative;
width: 500px;

}

h3 {
	font-family: garamond;
	font-size: 9pt;
	margin-top: 200px;
	margin-bottom: 200px;
	width: 40%;
	text-align: left;
	margin: auto;
	float: left;
}



a {
	text-decoration: none;
	color: #105c63;
}

a:hover {
	text-decoration: none;
	color: #db9e35;
}
#header {
	width: 100%;
	height: 40px;
	background-color: #128085;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
}



#footer {
	width: 100%;
	height: 10px;
	background-color: #128085;
	position: fixed;
	bottom:0;
	left:0;
}

#left {
	width: 10px;
	height: 100%;
	background-color: #128085;
	position: fixed;
	bottom:0;
	right:0;
}

#right {
	width: 10px;
	height: 100%;
	background-color: #128085;
	position: fixed;
	bottom:0;
	left:0;
}


#header_text {
	margin-top:12px;

}

.text {
	margin-left:150px;
	margin-top: 150px;
}

.text2 {
	margin-left:200px;
	margin-top: 300px;
}


#content {

	left: 0;
	margin-top:200px;
}

#pic {
float: right;
margin-left: 50px;
}

#videos {

	margin-top: 300px;
	max-width: 700px;
	margin-bottom: 400px;
}

#vidtit {
	top: 250px;
}

.vidspace {
	margin: auto;
	padding:25px;
	float: left;
position: relative;
bottom: 200px;
}

#covers {
	width: 1200px;
	margin-top: 100px;



}

.book {
	margin: 10px;
	width: 420px;

}

#ref {
	
	margin-left: 120px;
}


